@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
}

.getStartedBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #83869a;
  border-radius: 50px;
}
.getStartedBtn.anim {
  -webkit-animation: hinge;
          animation: hinge;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
}
.getStartedBtn.animOut {
  -webkit-animation: bounceInDown;
          animation: bounceInDown;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  z-index: 1000;
}
.navbar .getStartedBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 998;
  background-color: #13183f;
  color: #ffffff;
  width: 140px;
  height: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}
.header .imgHeroTablet {
  display: none;
}
.header .imgHeroDesktop {
  display: none;
}
.header .imgHero {
  display: flex;
  justify-content: center;
}
.header .imgHero .imgHeroMobile {
  max-width: 450px;
}
.header .introduction {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 46px;
}
.header .introduction h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #13183f;
  margin-bottom: 26px;
  max-width: 460px;
}
.header .introduction p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
  font-size: 16px;
  margin-bottom: 24px;
}
.header .introduction .getStartedBtn {
  background: #f02aa6;
  background: linear-gradient(0deg, rgb(240, 42, 166) 0%, rgb(255, 111, 72) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  width: 167px;
  height: 56px;
}
.header .imgHero img {
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.mainContent .introductionCard {
  background: #f02aa6;
  background: linear-gradient(0deg, rgb(240, 42, 166) 0%, rgb(255, 111, 72) 100%);
  border-radius: 10px;
  margin: 0 16px;
  padding: 24px 29px 32px 28px;
  height: 120px;
}
.mainContent .introductionCard h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}
.mainContent .card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 650px;
  padding: 0 28px;
  border-radius: 10px;
  margin: 50px 16px 0 16px;
  height: 283px;
}
.mainContent .card .iconBox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.mainContent .card .iconBox img {
  position: relative;
  top: -50%;
}
.mainContent .card h3 {
  color: #13183f;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  padding-bottom: 16px;
}
.mainContent .card p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
  font-size: 16px;
  line-height: 26px;
}
.mainContent .card .btnCard {
  display: flex;
  align-items: flex-end;
  padding-bottom: 32px;
  height: 100%;
}
.mainContent .card .btnCard .getStartedBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #83869a;
  font-size: 18px;
  color: #f74780;
  width: 104px;
  height: 28px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #13183f;
  height: 120px;
  padding: 0 16px;
}
.footer .getStartedBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f02aa6;
  background: linear-gradient(0deg, rgb(240, 42, 166) 0%, rgb(72, 81, 255) 100%);
  height: 48px;
  width: 140px;
  color: #ffffff;
}

/* medias */
/* 768px */
@media (min-width: 768px) {
  .navbar {
    padding: 29px 40px;
  }
  .navbar .logo {
    height: auto;
  }
  .navbar div {
    flex-direction: row-reverse;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: auto;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
  }
  .header .imgHero {
    width: 310px;
    display: block;
  }
  .header .imgHero .imgHeroMobile {
    display: none;
  }
  .header .imgHero .imgHeroTablet {
    display: block;
    position: relative;
    top: -200px;
    left: -100px;
    width: 700px;
  }
  .header .introduction {
    max-width: 500px;
    margin-left: 40px;
    margin-top: 65px;
    min-width: 400px;
  }
  .mainContent {
    display: grid;
    grid-template-areas: "introCard animCard" "designCard photoCard" "cryptoCard businessCard";
    justify-content: center;
    margin: 0 40px;
    gap: 11px;
    margin-bottom: 86px;
  }
  .mainContent #introductionCard {
    grid-area: introCard;
  }
  .mainContent #animationCard {
    grid-area: animCard;
  }
  .mainContent #designCard {
    grid-area: designCard;
  }
  .mainContent #photographyCard {
    grid-area: photoCard;
  }
  .mainContent #cryptoCard {
    grid-area: cryptoCard;
  }
  .mainContent #businessCard {
    grid-area: businessCard;
  }
  .mainContent .introductionCard {
    height: 283px;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }
  .mainContent .introductionCard h2 {
    max-width: 300px;
  }
  .mainContent .card {
    margin-left: 0;
    margin-right: 0;
  }
}
/* 1366px */
@media (min-width: 1366px) {
  .navbar {
    padding: 38px 165px;
  }
  .navbar .getStartedBtn {
    width: 167px;
    height: 56px;
  }
  .navbar .getStartedBtn:hover {
    opacity: 0.6;
  }
  .header {
    padding: 0 165px;
    height: 600px;
  }
  .header .introduction {
    margin-left: 0;
    max-width: 460px;
  }
  .header .introduction h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 70px;
    color: #13183f;
  }
  .header .introduction p {
    max-width: 445px;
  }
  .header .introduction .getStartedBtn:hover {
    opacity: 0.6;
  }
  .header .imgHero .imgHeroTablet {
    display: none;
  }
  .header .imgHero .imgHeroDesktop {
    display: block;
    position: relative;
    top: -280px;
    left: -200px;
    width: 950px;
  }
  .mainContent {
    padding: 0 165px;
    margin-bottom: 140px;
    margin-left: 0;
    margin-right: 0;
    grid-template-areas: "introCard animCard designCard" "photoCard cryptoCard businessCard";
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
  }
  .mainContent .introductionCard h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #13183f;
    color: #ffffff;
  }
  .mainContent .card h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #13183f;
  }
  .mainContent .card p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
  }
  .mainContent .getStartedBtn:hover {
    opacity: 0.6;
  }
  .footer {
    padding: 32px 165px;
  }
  .footer .footerBtn {
    background-color: #fff;
    outline: #13183f 2px solid;
    border-radius: 100px;
  }
  .footer .footerBtn .getStartedBtn:hover {
    opacity: 0.6;
  }
}/*# sourceMappingURL=styles.css.map */