//imports

@import '_variables';

//resets

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

//all page background

.container {
    @include background;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
}

//buttons

.getStartedBtn {
    @include bodyS;
    border-radius: 50px;

    &.anim {
        animation: hinge;
        animation-duration: 1.1s;
    }

    &.animOut {
        animation: bounceInDown;
        animation-duration: 1.5s;
    }
}

//nav

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    z-index: 1000;

    .getStartedBtn {
        @include btn;

        z-index: 998;
        background-color: map-get($map: $palette, $key: 'b');
        color: map-get($map: $palette, $key: 'f');
        width: 140px;
        height: 48px;
    }
}

//header

.header {
    display: flex;
    flex-direction: column;
    margin-top: 38px;

    .imgHeroTablet {
        display: none;
    }

    .imgHeroDesktop {
        display: none;
    }

    .imgHero {
        display: flex;
        justify-content: center;

        .imgHeroMobile {
            max-width: 450px;
        }
    }

    .introduction {
        margin-left: 16px;
        margin-right: 16px;

        h1 {
            @include headingL;
            margin-bottom: 26px;
            max-width: 460px;
        }

        p {
            @include bodyM;
            font-size: 16px;
            margin-bottom: 24px;
        }

        .getStartedBtn {
            @include gradientA;
            @include btn;

            color: map-get($map: $palette, $key: 'f');
            width: 167px;
            height: 56px;
        }

        margin-bottom: 46px;
    }

    .imgHero {
        img {
            width: 100%;
        }
    }
}

//main

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .introductionCard {
        @include gradientA;
        border-radius: 10px;
        margin: 0 16px;
        padding: 24px 29px 32px 28px;
        height: 120px;

        h2 {
            color: map-get($map: $palette, $key: 'f');
            font-size: 24px;
            font-weight: $extraBold;
            line-height: 32px;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: map-get($map: $palette, $key: 'f');

        max-width: 650px;

        padding: 0 28px;
        border-radius: 10px;
        margin: 50px 16px 0 16px;
        height: 283px;

        .iconBox {
            width: fit-content;

            img {
                position: relative;
                top: -50%;
            }
        }

        h3 {
            color: map-get($map: $palette, $key: 'b');
            font-size: 20px;
            font-weight: 800;
            line-height: 25px;
            padding-bottom: 16px;
        }

        p {
            @include bodyM;

            font-size: 16px;
            line-height: 26px;
        }

        .btnCard {
            display: flex;
            align-items: flex-end;
            padding-bottom: 32px;
            height: 100%;

            .getStartedBtn {
                @include btn;
                @include bodyS;

                font-size: 18px;
                color: map-get($map: $palette, $key: 'd');

                width: 104px;
                height: 28px;
            }
        }
    }

    margin-bottom: 80px;
}

//footer

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: map-get($map: $palette, $key: 'b');

    height: 120px;

    padding: 0 16px;

    .getStartedBtn {
        @include btn;
        @include gradientB;

        height: 48px;
        width: 140px;
        color: map-get($map: $palette, $key: 'f');
    }
}



/* medias */

/* 768px */

@media(min-width: 768px) {
    .navbar {
        padding: 29px 40px;

        .logo {
            height: auto;
        }

        div {
            flex-direction: row-reverse;
            column-gap: 20px;
            height: auto;
        }
    }

    .header {
        flex-direction: row;
        justify-content: space-between;

        height: 500px;

        .imgHero {
            width: 310px;
            display: block;

            .imgHeroMobile {
                display: none;
            }

            .imgHeroTablet {
                display: block;

                position: relative;
                top: -200px;
                left: -100px;

                width: 700px;
            }
        }

        .introduction {
            max-width: 500px;

            margin-left: 40px;
            margin-top: 65px;
            min-width: 400px;
        }
    }

    .mainContent {
        #introductionCard {
            grid-area: introCard;
        }

        #animationCard {
            grid-area: animCard;
        }

        #designCard {
            grid-area: designCard;
        }

        #photographyCard {
            grid-area: photoCard;
        }

        #cryptoCard {
            grid-area: cryptoCard;
        }

        #businessCard {
            grid-area: businessCard;
        }

        display: grid;
        grid-template-areas: "introCard animCard"
        "designCard photoCard"
        "cryptoCard businessCard";
        justify-content: center;

        margin: 0 40px;
        gap: 11px;
        margin-bottom: 86px;

        .introductionCard {
            height: 283px;

            margin-top: 50px;
            margin-left: 0;
            margin-right: 0;

            h2 {
                max-width: 300px;
            }
        }

        .card {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/* 1366px */

@media(min-width: 1366px) {
    .navbar {
        padding: 38px 165px;

        .getStartedBtn {
            width: 167px;
            height: 56px;

            &:hover {
                @include isHover;
            }
        }
    }

    .header {
        padding: 0 165px;
        height: 600px;

        .introduction {
            margin-left: 0;
            max-width: 460px;

            h1 {
                @include headingXL;
            }

            p {
                max-width: 445px;
            }

            .getStartedBtn {
                &:hover {
                    @include isHover;
                }
            }
        }

        .imgHero {
            .imgHeroTablet {
                display: none;
            }

            .imgHeroDesktop {
                display: block;

                position: relative;
                top: -280px;
                left: -200px;

                width: 950px;
            }
        }
    }

    .mainContent {
        padding: 0 165px;
        margin-bottom: 140px;
        margin-left: 0;
        margin-right: 0;

        grid-template-areas:
            "introCard animCard designCard"
            "photoCard cryptoCard businessCard";
        column-gap: 30px;
        row-gap: 40px;

        .introductionCard {
            h2 {
                @include headingM;
                color: map-get($map: $palette, $key: 'f');
            }
        }

        .card {
            h3 {
                @include headingS;
            }

            p {
                @include bodyM;
            }
        }

        .getStartedBtn {
            &:hover {
                @include isHover;
            }
        }
    }

    .footer {
        padding: 32px 165px;

        .footerBtn {

            background-color: #fff;

            outline: map-get($map: $palette, $key: 'b') 2px solid;
            border-radius: 100px;

            .getStartedBtn {
                &:hover {
                    @include isHover;
                }
            }
        }
    }
}

.about {
    border-top: #c5c6ce6b 1px solid;
    margin: 2rem 0;
    text-align: center;
}

.about p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.about a {
    text-decoration: none;
    color: #5e607a;
    cursor: pointer;
    transition: 0.3s;
}

.about a:hover {
    color: #F15D51;
}